.surfboardsContent .ficha h1 {
  margin-top:0;
  padding-top:0;
}
  .reverseSurfboard {
    cursor:pointer;
    position:absolute;
    width:35px;
    height:30px;
    color:#fff;
    right:30px;
    top:15px;
  }

  .surfboardsContent .descSerie {
    font-size:14px;
  }

  .surfboardsContent .ficha .galeria .taboa{
    /*border:1px solid black;*/
    height:50px;
    position:relative;
  }
    .surfboardsContent .ficha .galeria .medidas{
      position:absolute;
      bottom:5px;
      left:25px;
      color:rgba(255,255,255,0.5);
      font-size:24px;
      font-weight: bold;
    }
    .surfboardsContent .tablaconcreta {
      margin-top:15px;
      font-size:17px;
    }
    .surfboardsContent .tablaconcreta .caracteristicas {
      padding:0;
    }
    .surfboardsContent .tablaconcreta .caracteristicas ul {
      padding-left:13px;
      list-style-type: square;
    }
    .surfboardsContent .tablaconcreta .precio {
      font-size:19px;
    }


.surfboardsContent .foto {
  cursor:pointer;
}
