body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.fixedButtons {
  position:fixed;
  top:0;
  right:0;

  z-index: 1000;
  color:white;
  font-size:40px;
}

  .fixedButtons i {
    margin-right: 20px;
      text-shadow: 0px 0px 3px #000;
  }
    .fixedButtons :link  {
      color:#fff;
    }
    .fixedButtons :visited  {
      color:#fff;
    }

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  /*opacity: 0.65;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("api_white.jpg");
  min-height: 100%;
}

  .bgimg-1 .ceras {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    left: 0;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .bgimg-1 .ceras span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  .next {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    line-height: 60px;
    text-align:center;
    opacity: 1;
    background: #000;
    color:#fff;
    border-radius:50%;
    -webkit-animation: bounce .5s infinite alternate;
    -moz-animation: bounce .5s infinite alternate;
    animation: bounce .5s infinite alternate;
  }
  @-webkit-keyframes bounce {
    to { margin-top:-20px;}
  }
  @-moz-keyframes bounce {
    to { margin-top:-20px;}
  }
  @keyframes bounce {
    to { margin-top:-20px; }
  }

.bgimg-2 {
  background-image: url("ceras.jpg");
  min-height: 400px;
}
  .bgimg-2 .iratienda {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left:50%;
    transform: translateX(-50%);
  }
    .bgimg-2 .iratienda a {
      background-color: #000;
      font-size:30px;
      padding:15px;
      color:#fff;
      font-weight:bold;
      text-decoration:none;
    }

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}

.caption {
  /*position: absolute;*/
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }

}


@media (max-width: 1024px) {
  .cera_normal {
    display:none;
  }
  .cera_movil {
    display:inline !important;
  }
  .ceras .border, .iratienda * {
    font-size:15px !important;
  }

}
